<template>
  <div class="container">
    <h2 class="animate__animated animate__flipInX">{{ question.question }}</h2>

    <div v-for="answer in question.incorrect_answers" :key="answer">
      
      <div v-if="answer == question.correct_answer">
        <div v-if="answer == userAnswer">
          <p id="UserCorrect">{{ answer }}</p>
        </div>
        <div v-else>
          <p id="Correct">{{ answer }}</p>
        </div>
      </div>
      <div v-if="answer == userAnswer && answer !== question.correct_answer">
        <p id="InCorrect">{{ answer }}</p>
      </div>
      <div v-else-if="answer !== userAnswer && answer !== question.correct_answer">
        <p>{{ answer }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import "animate.css";

export default {
  name: "ResultItem",
  props: {
    question: {
      type: Object,
      required: true,
    },
    userAnswer: {
      type: String,
    },
  },
};
</script>

<style scoped>
h2 {
  color: white;
  font-weight: bold;
  max-width:90%;
}
#question {
  display: flex;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 550;
  padding: 1em 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  -webkit-appearance: none;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 25px rgba(206, 8, 110, 0.5);
}
#Correct,
#UserCorrect {
  border: 5px solid rgb(64, 255, 96);
  font-weight: bold;
}
#InCorrect {
  border: 5px solid #a52b06;
  font-weight: bolder;
}
p {
  background-color: white;
  width: 50%;
  border-radius: 12px;
  min-height: 30px;
  max-width: 500px;
  margin-bottom: 4px;
  padding: 12px;
  font-size: 1.1em;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container {
  align-content: center;
}
div {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
}
</style>