<template>
  <option>{{ category.name }}</option>
</template>

<script>
export default {
    name: 'CategoryItem',
    props:{
      category:{
        type: Object,
        required: true
      }
    }
}
</script>