<template>
  <div>
    <select @change='onCategoryChange'>
      <!--Dummy option to show that a category needs to be selected -->
      <option :value='null' disabled selected>Select Category</option>
      <CategoryItem
        v-for='(category, index) in categories'
        :key='index'
        :category='category'
      />
    </select>
    <select @change='onDifficultyChange'>
      <option :value='null'>Any Difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select> 
    <label for='numberOfQuestions'>Amount:</label>
    <input
      @change='onChosenAmountOfQuestionsChange'
      id='numberOfQuestions'
      type='number'
      value='1'
      min='1'
      max='50'
    />
    <button @click='onStartGameClick'>Start Game</button>
  </div>
</template>
<script>
import CategoryItem from './CategoryItem.vue';
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
  name: 'StartTrivia',

  // clear answers from previous run
  async created() {
    this.onNewGameClearAnswers();
    await this.getCategories();
  },
  computed: {
    ...mapState(['categories', 'difficulty', 'error']),
  },
  components: {
    CategoryItem,
  },
  methods: {
    ...mapActions([
      'getCategories',
      'onStartGameClick',
      'startGame',
    ]),
    ...mapMutations([
      'setCategories',
      'setDifficulty',
      'setSelectedCategoryId',
      'setChosenAmountOfQuestions',
      'resetAnswers'
    ]),
    onNewGameClearAnswers(){
      //Reset old answers when new game
      this.resetAnswers();
    },
    async onCategoryChange(event) {
      const categoryid = this.categories[event.target.selectedIndex - 1].id;
      this.setSelectedCategoryId(categoryid);
    },
    onDifficultyChange(event) {
      this.setDifficulty(event.target.value);
    },
    onChosenAmountOfQuestionsChange(event) {
      this.setChosenAmountOfQuestions(event.target.value);
    },
    async onStartGameClick() {
      if (!this.error) {
        await this.startGame();
      } else {
        alert('something went wrong. try refreshing the site');
      }
    },
  },
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
select {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; 
  margin-top: 50px;
  min-width: 150px;
  min-height:35px;
  min-width: 300px;
  width: 300px;
  color: #777;

  text-align: center;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 300;
  box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  border-radius: 8px;
}
select:hover{
 color: black;
 font-weight: bold;
}
option{
  color: black;
}
input {
  float: center;
  margin-top: 20px;
  max-width: 50px;
  width: 100%;
  padding: 8px 16px;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 6px;
    -webkit-appearance: none;
}
input:focus {
  outline: none;
  border-color: rgb(0, 0, 0);
  font-weight:600;
}

label {
  float: center;
  font-size: 13pt;
  font-weight: bold;
  margin-right: 10px;
}
button {
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 25px rgba(206, 8, 110, 0.5);
  max-width: 150px;
  min-width: 150px;
}
button:hover{
  font-weight: 600;
}

</style>
