<template>
  <div>
    <p 
    @click='onClickAnswer' v-for='option in shuffledAnswers' :key='option'>
      {{ option }}
    </p>
  </div>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from 'vuex';

export default {
  name: 'QuestionItem',
  props: {
    shuffledAnswers: {
      type: [],
      required: true,
    },
  },

  ...mapState(['question', 'questions']),

  created() {
  },
  computed: {},
  methods: {
    ...mapMutations(['setAnswers']),
    ...mapActions(['setNextQuestion', 'setNextAnswers']),
    ...mapGetters(['getQuestions']),
    
    // Takes the value of the button clicked and saves it to answers in state.
    // Checks if next index is a valid question and goes there unless there is no more questions
    // it goes to results page.
    // option-clicked prepares next questions answers
    onClickAnswer(event) {

      let answer = event.target.innerText;
      this.setAnswers(answer);
      
      if (this.$route.query.q != this.getQuestions().length -1) {
        this.setNextQuestion(this.$route.query.q);
        this.$emit('option-clicked');
      }else{
        this.$router.push('/results')
      }
    },
  },
};
</script >

<style scoped>
h2 {
  color: white;
}
p {
  display: flex;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 550;
  padding: 1em 2em;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  -webkit-appearance: none;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 25px rgba(206, 8, 110, 0.5);
}
p:hover{
  background: rgba(223, 223, 223, 0.96)
}
</style>